[Unit]
Description=APK Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/javad/PycharmProjects/apk/main.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
